{% assign registeredTags = "Actualites|Announce|Event|Update" | split: "|" %}
{% assign availableColors = "green|violet|cyan|pink|olive|black"  | split: "|" %}
{% assign unregisteredTags = ""  | split: "" %}
{% for post in site.posts reversed %}
{% for tag in post.tags %}
{% if registeredTags contains tag %}
{% else %}
{% assign unregisteredTags = unregisteredTags  | push: tag %}
{% endif %}
{% endfor %}
{% endfor %}
{% for tag in include.tags %}
{% case tag %}
{% when "News" %} <a class="ui tag label green">Actualités</a>
{% when "Event" %}<a class="ui orange tag label">Évènements</a>
{% when "Announce" %}<a class="ui cyan tag label">Annonces</a>
{% when "Update" %}<a class="ui olive tag label">Mises à jour</a>
{% else %}
{% for unregisteredTag in unregisteredTags %}
{% if tag == unregisteredTag %}
{% for color in availableColors limit:1 offset:forloop.index %}
<a class="ui tag label {{ color }}">{{ tag }}</a>
{% endfor %}
{% endif %}
{% endfor %}
{% endcase %}
{% endfor %}